<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>모바일 게임 리뷰와 순위의 모든 것</title>
    <%= stylesheet_link_tag	"application", :media => "all" %>
    <%= javascript_include_tag	"application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row-fluid">
     	<div class="span2">
	</div>
	<div class="span8" style="background:#00b487">
	</div>
	<div class="span2">
	</div>
  </body>
</html>
